.experience__container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
}

.experience__title {
    background: var(--color-bg-variant);
    padding: 2.4rem 3rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    border-color: var(--color-primary);
}

.experience__title:hover {
    background: transparent;
    border-color: var(--color-primary-variant);
    cursor: default;
}

.experience__title h3 {
    color: var(--color-primary);
}

.experience__title h5 {
    color: var(--color-light);
}